* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.backgroundHome {
    background-image: url(https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQkrjYxSfSHeCEA7hkPy8e2JphDsfFHZVKqx-3t37E4XKr-AT7DML8IwtwY0TnZsUcQ);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

/*Estilo do background da página Home*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 2%;
    padding-right: 45%;
    background-color: rgb(55, 0, 255);
}

nav h1 {
    color: #fff;
    font-size: 37px;
    cursor: pointer;
    letter-spacing: 5px;
}

span {
    color: #f9004d;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px ;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav ul li a:hover {
    color: #f9004d;
}
/*Estilo da barra de navegação página Home*/
.links-guias{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 13%;
    padding-right: 30%;

}
.btn1{
 background-color: #f9004d;
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 font-size: 30px;
 border-radius: 30px;
 transition: transform .4s;
}
.btn2{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;   
    transition: transform .4s;
}
.btn1:hover{
    transform: scale(1.2);
}
.btn2:hover{
    transform: scale(1.2);
}
/*Estilo dos hiperlinks da página Home*/
